---
layout: default
---

<section id="top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 logo-head p-5 m-auto">
                <img src="{{ site.url }}/images/logo-MissionSoNum-blanc.svg" alt="logo société numérique">
            </div>
        </div>
        <div class="bck-home py-5">
            <h1 class="text-center">Kit d'intervention rapide</h1>
            <h1 class="ss-titre text-center">Accompagner les personnes éloignées de l'informatique</h1>
            <div class="row">
                <div class="col-11 m-auto">
                    <div class="row max1500">
                     <div class="col-lg-3 col-md-6 col-12 kit-presentation p-3 m-3">
                        <p class="wht">Ce site a pour objectif de permettre à toute personne, en particulier les non professionnels de la médiation numérique, d’aborder rapidement les principaux enjeux de l’accompagnement des individus en difficulté sur les outils numériques.</p>
                     </div>
                    </div>
                    <div class="row max-1500">
                        <div class="col-lg-3 col-md-6 col-12 mb-2">
                            <a href="#jaccueille_ancre">
                                <div class="card">
                                    <div class="overlay hm-white-slight hm-zoom pt-5">
                                        <img class="img-fluid icone-card" src="{{ site.url }}/images/accueillir.svg" alt="J'accueille"></img>
                                        <h2 class="flex" >J'accueille
                                            <span><img class="small-icon" src="{{ site.url }}/images/bottom-purple.svg"></img></span>
                                        </h2>
                                    </div>
                                    <p>Quelques conseils pour démarrer l'échange avec l'usager qui vient chercher un accompagnement</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mb-2">
                            <a href="#jediagnostique_ancre">
                                <div class="card">
                                    <div class="overlay hm-white-slight hm-zoom pt-5">
                                        <img class="img-fluid icone-card" src="{{ site.url }}/images/diagnostiquer.svg" alt="Je diagnostique"></img>
                                        <h2 class="flex" >Je diagnostique
                                            <span><img class="small-icon" src="{{ site.url }}/images/bottom-purple.svg"></img></span>
                                        </h2>
                                    </div>
                                    <p>De quoi qualifier le niveau numérique des personnes rapidement</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mb-2">
                            <a href="#jaccompagne_ancre">
                                <div class="card">
                                    <div class="overlay hm-white-slight hm-zoom pt-5">
                                        <img class="img-fluid icone-card" src="{{ site.url }}/images/accompagner.svg" alt="J'accompagne"></img>
                                        <h2 class="flex" >J'accompagne
                                            <span><img class="small-icon" src="{{ site.url }}/images/bottom-purple.svg"></img></span>
                                        </h2>
                                    </div>
                                    <p>Quelques outils pour faciliter l'accompagnement de l'usager, clarifier ce que vous pouvez, devez ou ne devez pas faire, et proposer des solutions concrètes</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12 mb-2">
                            <a href="#joriente_ancre">
                                <div class="card">
                                    <div class="overlay hm-white-slight hm-zoom pt-5">
                                        <img class="img-fluid icone-card" src="{{ site.url }}/images/orienter.svg" alt="J'oriente"></img>
                                        <h2 class="flex" >J'oriente
                                            <span><img class="small-icon" src="{{ site.url }}/images/bottom-purple.svg"></img></span>
                                        </h2>
                                    </div>
                                    <p>Quelques outils pour orienter la personne vers un accompagnement plus approfondi</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <a href="#plusloin_ancre" class="small-img underlink wht">Aller plus loin sur les enjeux liés à la culture numérique <span><img src="{{ site.url }}/images/bottom-white.svg"></img></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



{% include jaccueille.html %}
{% include jediagnostique.html %}
{% include jaccompagne.html %}
{% include joriente.html %}
{% include plusloin.html %}
{% include fleche_red.html %}
