<!--Main Navigation-->
<header class="mb-4">

    <!-- Intro Section -->
      <div class="view hm-black-light jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url({{ site.url }}/images/background.jpg);">
        <div class="full-bg-img" id="home">
            <div class="container flex-center">
                <div class="row pt-5 mt-3">
                    <div class="col-md-12">
                        <div class="text-center">
                            <div class="mb-3 avatar" align="center">
                              <img src="{{ site.url }}/images/logo-white.png">
                            </div>
                            <h1 class="h1-reponsive white-text font-up font-bold mb-3  h1-header"><strong>Kit d'accompagnement à l'informatique</strong></h1>
                            <a class="btn btn-outline-white " href="#toolbox">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<!--Main Navigation-->
