<section id="jaccueille">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="section-title flex p-3">
                    <img class="litte-img" src="{{ site.url }}/images/accueillir.svg">
                    <p class="big ml-3 my-0">J'accueille</p>
                </div>
                <div class="row max-1500 py-5">
                    <div class="col-md-3 col-12 py-3 text-center">
                        <p>Vous trouverez ici …</p>
                        <p>Quelques conseils pour démarrer l'échange avec l'usager qui vient chercher un accompagnement.</p>
                        <p>N'oubliez pas que les difficultés face à l'informatique et au numérique peuvent être sources de gêne et d'anxiété pour l'usager. La voie de l'autonomie passe par la bienveillance et l'attention de votre part !</p>
                        <div class="citation font-italic p-3"">
                            <p>"Nous vous accueillons avec courtoisie dans le respect mutuel, nous vous informons de votre délai d’attente, et nous veillons à votre confort"</p>                        
                            <p class="small">(Référentiel Marianne, extrait engagement n°4)</p>
                        </div>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="row">
                            <img class="back-img" src="{{ site.url }}/images/emoti-think.svg">  
                            <div class="col-12">
                                <h3>étape 1 : pourquoi la personne est là ?</h3>
                            </div>                            
                            <div class="col-xl-6 col-md-8 col-12">
                                <div class="card p-4">
                                    <p class="big">J'accueille la personne : je détermine quel est son besoin, je l'aide à préciser sa demande.</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accueillir.svg">
                                    <div class="text-left">
                                        <ul class="red-dot px-2">
                                            <li>Pour quelle démarche ou dans quel cadre vient-elle ?</li>
                                            <li>De quel type d'accompagnement a-t-elle besoin, numérique ou administratif / social ?</li>
                                            <li>Est-ce que je traite immédiatement ou lors d'un rendez-vous ultérieur ?</li>
                                        </ul>
                                        <p><strong>Méthode :</strong> conversation libre, quelques questions rapides fonction de la situation</p>
                                        <p><strong>Objectif :</strong><a>déterminer s'il y a des freins spécifiquement numériques</a></p>
                                    </div>
                                </div>                            
                            </div>                        
                        </div>
                        <div class="row">
                            <img class="back-img-left" src="{{ site.url }}/images/etoiles.svg">
                            <div class="col-12">
                                <h3>étape 2 :  Comment vais je organiser mon intervention ?</h3>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">J'ai peu de temps, la personne ne semble pas autonome numériquement.</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accueillir.svg">
                                    <div class="text-left pt-3">
                                        <p>Je fais la démarche avec la personne immédiatement, j'ai en tête quelques éléments pour sécuriser mon accompagnement.</p>
                                        <p class="small">Consulter la section : <a href="#jaccompagne" class="small-img underlink prpl">J'accompagne > Charte de l'accompagnement numérique <span><img src="{{ site.url }}/images/bottom-purple.svg"></img></span></a></p>
                                    </div>                                
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Je peux prendre un peu de temps.</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accueillir.svg">
                                    <div class="text-left pt-3">
                                        <p>Je diagnostique rapidement la capacité d'autonomie numérique de la personne :</p>
                                        <p class="small">Consulter la section <a href="#jediagnostique" class="small-img underlink prpl">Je diagnostique <span><img src="{{ site.url }}/images/bottom-purple.svg"></img></span></a></p>
                                        <p>Je l'accompagne à faire la démarche :</p>
                                        <p class="small">Consulter la section <a href="#6indispensables" class="small-img underlink prpl">J'accompagne > Les 6 indispensables <span><img src="{{ site.url }}/images/bottom-purple.svg"></img></span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Je n'ai pas le temps ou je ne me sens pas en capacité d'accompagner l'usager.</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accueillir.svg">
                                    <div class="text-left pt-3">
                                        <p>Les besoins d'accompagnement sont trop importants, je réoriente :</p>
                                        <p class="small">Consulter la section <a href="#joriente" class="small-img underlink prpl">J'oriente <span><img src="{{ site.url }}/images/bottom-purple.svg"></img></span></a></p>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>