<section id="jaccompagne">
    <div id="jaccompagne_ancre"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="section-title flex p-3">
                    <img class="litte-img my-auto" src="{{ site.url }}/images/accompagner.svg">
                    <p class="big ml-3 my-0">J'accompagne</p>
                </div>
                <div class="row max-1500 py-5">
                    <div class="col-md-3 col-12 py-3 text-center">
                        <p>Vous trouverez ici …</p>
                        <p>Quelques outils pour faciliter l'accompagnement de l'usager, clarifier ce que vous pouvez, devez ou ne devez pas faire, et concrètement proposer des solutions</p>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h3>Charte de l'accompagnement numérique</h3>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Posture</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Protégez vous en tant qu'accompagnant : </p>
                                        <ul class="red-dot px-2">
                                            <li>Montrez-vous professionnel : n’extrapolez pas sur sa situation, soyez objectif et prenez du recul : il s’agit d’un usager et non d’une connaissance.</li>
                                            <li>Ne vous engagez pas sur la recevabilité d’un dossier, l’accès à un droit.</li>
                                            <li>Ne vous engagez pas sur une prise en charge par un tiers.</li>
                                            <li>Ne vous engagez pas sur un montant qui résulterait d’un outil de simulation.</li>
                                            <li>Ne vous engagez pas sur un délai de réponse qui n’est pas de votre ressort.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Responsabilité</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>La responsabilité juridique de votre structure peut être engagée en cas de faute lors de l'accompagnement (communication d'un montant ou d'un délai erroné...) mais pas la vôtre sauf à sortir complètement du cadre de vos missions.</p>
                                        <p>Pour vous protéger, autonomisez au maximum vos usagers, et a minima faites les valider leurs démarches et imprimez leur tout récapitulatif.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Données personnelles</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Résistez à la tentation de donner des informations à un tiers, même pour rendre service !</p>
                                        <p>Soyez attentif au sein de votre structure à une conservation adéquate des données personnelles, et uniquement si elles sont nécessaires.</p>
                                        <p>Par exemple ne conservez en aucun cas les mots de passe de vos usagers.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <p>Consulter les <a href="https://www.maisondeservicesaupublic.fr/sites/default/files/public/atoms/files/les_10_regles.pdf" class="small-img underlink prpl external">"10 règles d'or de l'accompagnement"</a> produit pour les Maisons de Services Aux Publics.</p>
                            </div>
                        </div>
                        <div class="row mt-5" id="6indispensables">
                            <div id="6indispensables_ancre"></div>
                            <img class="back-img-left" src="{{ site.url }}/images/etoiles.svg">
                            <div class="col-12 mb-3">
                                <h3>Les 6 indispensables</h3>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Créer un courriel</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>La création d'une adresse email (ou mail ou courriel) est un passage quasi obligé pour la très grande majorité des démarches administratives en ligne.</p>
                                        <p>En tant qu'accompagnant vous serez très probablement amené à créer une adresse mail à des usagers qui n'en disposent pas. <br/>
                                        Deux précautions préalables :</p>
                                        <ul class="red-dot px-2">
                                            <li>la simplicité d'usage du service d'email, par exemple Pôle Emploi recommande la création d'adresse mail sur laposte.net</li>
                                            <li>vérifier la capacité de l'usager de la consulter ultérieurement, en prenant par exemple la précaution de lui remettre ses codes, identifiants et mots de passe sur un mémo, en lui rappellant également que son adresse mail devient, au regard de l'administration, le canal privilégié de communication, et qu'il doit à ce titre la consulter régulièrement.</li>
                                        </ul>
                                        <p>Consulter <a href="https://fr.calameo.com/read/0003559183ad9dd33fb21" class="small-img underlink prpl external">le tutoriel mail la poste</a>
                                         par exemple</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Naviguer sur le web</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Pour réaliser ses démarches sur le web, il sera nécessaire d'utiliser et savoir se servir d'un navigateur. <br/>
                                        Mozilla Firefox est un navigateur libre, courant et simple à utiliser. <br/>
                                        N'hésitez pas à bien présenter à l'utilisateur les premiers éléments de navigation nécessaires, qui peuvent vous paraitre évidents : saisir une adresse ou une recherche dans la barre, aller chercher un fichier téléchargé, ouvrir un nouvel onglet...</p>
                                        <p>Consulter <a href="https://support.mozilla.org/fr/kb/debuter-firefox-apercu-fonctionnalites-principales" class="small-img underlink prpl external">le tutoriel Firefox</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Accéder aux services en ligne</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>L'accès aux services et démarches en ligne passe de manière quasi-systématique par la saisie d'un identifiant et d'un mot de passe. Ne conservez pas les mots de passe de vos usagers, par contre vous pouvez leur donner des conseils pour les conserver (mémos) et leur présenter France Connect, le service d'authentification proposé par l'Etat pour accéder à toutes ses démarches en ligne.</p>
                                        <p>Consulter <a href="https://franceconnect.gouv.fr/" class="small-img underlink prpl external">la page FranceConnect</a></p>
                                        <p>Consulter les mémos mots de passe :<a href="{{ site.url }}/files/mon_memo_numerique.jpg" class="small-img underlink prpl"> mémo 1</a> ou <a href="https://www.maisondeservicesaupublic.fr/sites/default/files/public/pense_bete_administratif_3.pdf" class="small-img underlink prpl external"> mémo 2</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Se renseigner et connaitre ses droits</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Pour se renseigner de manière générale ou sur ses démarches et droits, le premier réflexe est de passer par un moteur de recherche. N'hésitez pas à utiliser <a href="https://www.qwant.com/?l=fr" class="small-img underlink prpl">Qwant</a> qui respecte votre vie privée(qui respectera mieux votre vie privée que Google )et est issu d'un consortium européen.</p>
                                        <p>Vous pouvez le paramétrer dans les options de <a href="https://www.mozilla.org/fr/firefox/" class="small-img underlink prpl external">Firefox</a> comme moteur de recherche par défaut.</p>
                                        <p>Ensuite vous pouvez utiliser le site <a href="https://www.service-public.fr/" class="small-img underlink prpl external">service-public.fr</a> qui vous donne accès à toutes les informations concernant les démarches et à un annuaire des acteurs que vous pouvez contacter.</p>
                                        <p>Enfin les sites <a href="https://www.mesdroitssociaux.gouv.fr/" class="small-img underlink prpl external">mesdroitssociaux</a> et <a href="https://mes-aides.gouv.fr/" class="small-img underlink prpl external">mes-aides</a> vous permettent d'évaluer à quelles aides l'usager pourrait prétendre.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Réaliser une démarche</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Pour acompagner l'usager dans la réalisation de ses démarches en ligne PoleEmploi, Ameli, Caf ou autre, gardez ces quelques éléments en tête :</p>
                                        <ul  class="red-dot px-2">
                                            <li>vous n'êtes pas là pour remplacer le conseiller de ces organismes, vous n'êtes a priori pas conseiller emploi ou fiscal mais juste là pour faciliter l'accès à la démarche, dépasser les limites liées à l'usage du numérique ou aux éléments de base liés à la démarche administrative. </li>
                                            <li>ne faites pas de l'écran une barrière entre vous et l'usager, mais mettez le de manière à ce qu'il soit visible pour vous et pour lui, tourné sur un côté du bureau par exemple.</li>
                                            <li>faites toujours valider au maximum par l'usager.</li>
                                        </ul>
                                        <p></p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Ecrire un document</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Un des premiers besoins des usagers, pour écrire un CV, une lettre de motivation, une demande quelconque va être l'utilisation d'un traitement de texte. Vous pouvez proposer <a href="https://fr.libreoffice.org/" class="small-img underlink prpl external">LibreOffice</a>, logiciel libre qui permettra une installation gratuite sur leur propre PC.</p>
                                        <p>Consulter <a href="http://references.modernisation.gouv.fr/socle-logiciels-libres" class="small-img underlink prpl external">la circulaire du Premier Ministre</a></p>
                                    </div>
                                </div>
                            </div>

                           <div class="col-md-9 col-12">
                        <div class="row">
                            <div class="col-12 mb-3">
                                
                                <h3>Sites miroirs des services publics en ligne</h3>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Site miroir des impôts</p>
                                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                                    <div class="text-left pt-3">
                                        <p>Ce site est une copie du site des impôts permettant de simuler les déclarations en ligne sans manipuler les données personnelles de la personne accompagnée.</p>
                                        <p>Consulter <a href="https://impots.societenumerique.gouv.fr" class="small-img underlink prpl external">le site miroir des impôts</a> </p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
