<section id="jaccompagne">
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="section-title flex p-3">
                    <img class="litte-img" src="{{ site.url }}/images/accompagner.svg">
                    <p class="big ml-3 my-0">J'accompagne</p>
                </div>
                <div class="row max-1500 py-5">
                    <div class="col-md-3 col-12 py-3 text-center">
                        <p>Vous trouverez ici …</p>
                        <p></p>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="row">
                        
                        </div>
                        <div class="row" id="6indispensables">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

