<section id="jediagnostique">
    <div id="jediagnostique_ancre"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="section-title flex p-3">
                    <img class="litte-img my-auto" src="{{ site.url }}/images/diagnostiquer.svg">
                    <p class="big ml-3 my-0">Je diagnostique</p>
                </div>
                <div class="row max-1500 py-5">
                    <div class="col-md-3 col-12 py-3 text-center">
                        <p class="wht">Vous trouverez ici …</p>
                        <p class="wht">De quoi qualifier rapidement le niveau des compétences numériques de la personne</p>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <h3 class="wht">étape 1 : Primo diagnostic</h3>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Sans écran et sans mise en situation, discutez librement et avec bienveillance avec la personne à partir de ces quelques questions</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <ul class="red-dot px-2">
                                            <li>Avez-vous essayé de faire la démarche sur Internet ?</li>
                                            <li>Avez-vous une adresse mail ? La consultez-vous régulièrement ?</li>
                                            <li>Avez-vous un ordinateur ou une tablette ou un téléphone avec l'accès à Internet à la maison ou au travail ?</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Ensuite, si la personne est d'accord vous pouvez vous mettre devant un ordinateur avec elle et voir ses premiers réflexes, sa posture</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <ul class="red-dot px-2">
                                            <li>Rejet direct d'utiliser l'ordinateur ?</li>
                                            <li>Utilisation aisée ou non de la souris, du clavier et de l'écran</li>
                                            <li>Utilisation aisée ou non du navigateur web pour aller sur le site voulu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mb-3 py-3 ">
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Elle vous semble à l'aise avec les premiers rudiments d'utilisation</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <p>Vous pouvez la laisser réaliser l'action pour laquelle elle est venue, et être en soutien si besoin, ou lui proposer un diagnostic plus approfondi, notamment si c'est une personne que vous allez être amené à revoir dans un cadre d'accompagnement numérique.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Elle vous semble complètement perdue y compris avec les premières notions</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <p>Commencez à l'accompagner pas à pas en vous référant à la section J'accompagne :</p>
                                        <p class="small">Consulter la section <a href="#jaccompagne_ancre" class="small-img underlink prpl">J'accompagne <span><img src="{{ site.url }}/images/bottom-purple.svg"></img></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <img class="back-img-left" src="{{ site.url }}/images/etoiles.svg">
                            <div class="col-12 mb-3">
                                <h3 class="wht">étape 2 : Diagnostic plus approfondi</h3>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Vous avez un peu de temps pour aller plus loin avec l'usager ?</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <p> Dans son parcours vers l'autonomie, la première étape sera celle du diagnostic de ses compétences et de sa culture numériques. Pour cela, des outils de diagnostic plus approfondis vous permettront de mieux saisir où en est l'usager. Comme pour le primo diagnostic, il existe des questionnaires facilement imprimables, que vous pourrez utiliser en format papier. D'autres permettent de mettre l'usager en situation, et se réalisent en ligne, sur un ordinateur ou une tablette.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Outils de diagnostic papier</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <p>Certains opérateurs de service public, comme la Caisse d'Allocations Familiales ont développé des questionnaires d'une page qui permettent de savoir où en est l'usager par rapport au numérique.</p>
                                        <a href="{{ site.url }}/files/outildiagSSD.pdf" target="_blank"class="small underlink prpl">Télécharger le questionnaire de la CAF de la Seine-Saint-Denis.pdf (634 Ko)</a>
                                        <br><br>
                                        <a href="{{ site.url }}/files/outildiagnosticgard.pdf" target="_blank" class="small underlink prpl">Télécharger le questionnaire de la CAF du Gard.pdf (680 Ko)</a>

                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card px-2 py-4">
                                    <p class="big">Outils de diagnostic en ligne</p>
                                    <img class="litte-img" src="{{ site.url }}/images/diagnostiquer.svg">
                                    <div class="text-left pt-3">
                                        <p><a class="small-img underlink prpl external" target="_blank" href="https://pix.fr/mediation-numerique">
                                            <strong>Pix.gouv.fr</strong></a>, un outil pour mesurer et se former aux compétences du numérique, développé par l'Etat.
                                        </p>
                                        <p><a class="small-img underlink prpl external" target="_blank" href="https://www.lesbonsclics.fr/">
                                            <strong>Lesbonsclics.fr</strong></a>, un outil de diagnostic pour maitriser les bases du numérique, développé par l'association WeTechCare.
                                        </p>
                                        <p><a class="small-img underlink prpl external" target="_blank" href="http://net94.pro/diagnostic/">
                                            <strong>L'outil de diagnostic de l'association ICI</strong></a>, 19 questions pour mieux cerner les besoins numériques.
                                        </p>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
