<section id="joriente">
    <div id="joriente_ancre"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="section-title flex p-3">
                    <img class="litte-img" src="{{ site.url }}/images/orienter.svg">
                    <p class="big ml-3 my-0">J'oriente</p>
                </div>
                <div class="row max-1500 py-5">
                    <div class="col-md-3 col-12 py-3 text-center">
                        <p class="wht">Vous trouverez ici …</p>
                        <p class="wht">Quelques outils pour orienter la personne vers un accompagnement plus approfondi. Au delà du premier niveau d'accompagnement que vous pouvez apporter, n'oubliez pas qu'il existe un grand nombre d'acteurs dans les territoires vers lesquels vous pouvez orienter l'usager.</p>
                    </div>
                    <div class="col-md-9 col-12">
                        <div class="row">
                            <img class="back-img" src="{{ site.url }}/images/orienter-pink.svg"> 
                            <img class="back-img-left" src="{{ site.url }}/images/etoiles.svg">                            
                            <div class="col-12 mb-3">
                                <h3 class="wht">Orientation des personnes vers un accompagnement adapté</h3>
                            </div>                            
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card p-4">
                                    <p class="big">Montrer l'intérêt de se former au numérique</p>
                                    <img class="litte-img" src="{{ site.url }}/images/orienter.svg">
                                    <div class="text-left">
                                        <p>La première étape sera de faire comprendre à la personne l'intérêt de se former au numérique, que cet intérêt relève de ses droits sociaux, de la recherche d'emploi, de ses centres d'intérêts personnels ou du maintien de contact avec ses proches</p>
                                        <p>Consulter <a href="#" class="small-img underlink prpl">les fiches leviers de motivation des publics<span><img src="{{ site.url }}/images/bottom-purple.svg"></img></span></a></p>
                                    </div>
                                </div>                            
                            </div>
                            <div class="col-xl-4 col-md-6 col-12 mb-3">
                                <div class="card p-4">
                                    <p class="big">Cartographie des acteurs vers qui je peux orienter les personnes</p>
                                    <img class="litte-img" src="{{ site.url }}/images/orienter.svg">
                                    <div class="text-left">
                                        <p>En construction</p>
                                    </div>
                                </div>                            
                            </div>                             
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</section>