<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top rgba-red-strong">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
          <strong>
            <img src="{{ site.url }}/images/logo-white-small.png" height="30" alt="logo société numérique">
        </strong>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/kit/#home">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/kit/#toolbox">Boîte à outils</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
