<!--Navbar-->
<nav class="navbar navbar-expand-lg fixed-top scrolling-navbar mdb-color">
    <div class="container">
        <a class="navbar-brand" href="{{ site.url }}">
          <strong>
            <img src="{{ site.url }}/images/logo-white-small.png" height="30" alt="logo société numérique">
        </strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/kit/#home">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.url }}/kit/#toolbox">Boîte à outils</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
