<section id="plusloin">
    <div id="plusloin_ancre"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-11 m-auto">
                <div class="row max-1500">
                    <div class="col-12">
                        <h2>Je vais plus loin…</h2>
                    </div>
                    <p>Vous trouverez ici …</p>
                    <p>Les données personnelles, les algorithmes, la contribution sur Internet sont autant de sujets qui peuvent enrichir à la fois ma pratique professionnelle et m'éclairer dans ma vie quotidienne.<br/>
                    C'est ce que l'on appelle la culture numérique.</p>
                    <div class="col-xl-3 col-md-6 col-12 mb-3">
                        <div class="card px-2 py-4">
                            <p><strong>Des éléments de culture numérique…</strong></p>
                            <p class="text-left">Découvrer les contours de <a href="https://culturenumerique.univ-lille3.fr/" class="small-img underlink prpl">la culture numérique</a></p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12 mb-3">
                        <div class="card px-2 py-4">
                            <p><strong>Découvrer les enjeux liés aux données personnelles</strong></p>
                            <p class="text-left"><a href="https://donottrack-doc.com" class="small-img underlink prpl">https://donottrack-doc.com</a>
                            </p>
                            <p class="text-left">
                            <a href="https://www.cnil.fr/" class="small-img underlink prpl">https://www.cnil.fr/</a>
                            </p>
                            <p class="text-left">
                            <a href="https://secnumacademie.gouv.fr/" class="small-img underlink prpl">https://secnumacademie.gouv.fr/</a></p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12 mb-3">
                        <div class="card px-2 py-4">
                            <p><strong>Découvrez les enjeux liés aux  algorithmes</strong></p>
                            <p class="text-left"><a href="https://www.cnil.fr/fr/levenement-de-lancement-videos-et-compte-rendu" class="small-img underlink prpl">https://www.cnil.fr/fr/levenement-de-lancement-videos-et-compte-rendu</a></p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12 mb-3">
                        <div class="card px-2 py-4">
                            <p><strong>Découvrer comment contribuer sur Internet</strong></p>
                            <p class="text-left"><a href="http://wikipedia.fr/index.php" class="small-img underlink prpl">Sur Wikipédia</a>
                            </p>
                            <p class="text-left">
                            <a href="http://openstreetmap.fr/projet" class="small-img underlink prpl">Sur Openstreetmap</a> 
                            </p>
                        </div>
                    </div>
                    
                                    
                </div>
            </div>
        </div>
    </div>
</section>