---
layout: default-topic
---

<!-- Main layout-->

<main>
  <div class="main-wrapper">
    <div class="container-fluid">
      <section id="topic">
        <h2 class="animated fadeIn mb-3">Le contexte</h2>
        <p>{{ content }}</p>
      </section>

      <hr class="my-4">

      <section id="ressources">
      <h2 class="animated fadeIn mb-3">Les ressources</h2>
        <div class="row text-center">
          {% for ressource in page.ressources %}
            <div class="col-lg-3 col-md-6 mb-r">
              <div class="card">
                <div class="avatar mt-4">
                  {% if ressource.image %}
                  <img src="{{ site.url }}/images/ressources/{{ ressource.image }}">
                  {% else %}
                  <img src="{{ site.url }}/images/ressources/default.png">
                  {% endif %}
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{ ressource.name }}</h4>
                  <p class="card-text">{{ ressource.role }}</p>
                  <div class="flex-row">
                    {% if ressource.twitter %}
                      <a class="card-link" href="https://twitter.com/{{ ressource.twitter }}"><i class="fa fa-twitter-square fa-lg mdb-color-text" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if ressource.linkedin %}
                      <a class="card-link" href="{{ ressource.linkedin }}"><i class="fa fa-linkedin-square fa-lg mdb-color-text" aria-hidden="true"></i></a>
                    {% endif %}
                    {% if ressource.github %}
                      <a class="card-link" href="https://github.com/{{ ressource.github }}"><i class="fa fa-github-square fa-lg mdb-color-text" aria-hidden="true"></i></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      {% if page.organizations %}
      <hr class="my-4">

      <section>
        {% for organization in page.organizations %}
          <h2 class="animated fadeIn mb-3">Le partenaire</h2>
          {% if organization.image %}
            <div class="view overlay hm-white-slight hm-zoom avatar mb-3">
                <img src="{{ site.url }}/images/organizations/{{ organization.image }}" class="img-fluid" alt="logo-{{ organization.name }}">
                <a href="{{ organization.website }}">
                    <div class="mask"></div>
                </a>
            </div>
          {% endif %}
          <p>{{ organization.description }}</p>
        {% endfor %}
      </section>
      {% endif %}


    </div>
  </div>
</main>

<!-- /.Main layout-->
